<?xml version="1.0"?>
<model>
  <name>myhexa</name>
  <version>1.0</version>
  <sdf version="1.5">myhexa.sdf</sdf>

  <author>
   <name>Franck Djeumou</name>
   <email>frmbouwe@gmail.com</email>
  </author>

  <description>
    This is a model of the Yuneec Typhoon H480 without mounted Intel Realsense module
  </description>
</model>
